@import "./variables";
@import "./mixins";

html {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: rgb(240, 240, 240);
}

.quizdini-app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

textarea.editor {
  font-size: 15px;
  line-height: 1.3em;
  height: 120px;
}

.card {
  min-width: 8ch;
  max-width: 30ch;
}

.label {
  font-weight: bold;
  display: block;
}

textarea#matchText {
  width: 100%;
  padding: 10px;
  overflow-y: scroll;
}

.rich-text-editor {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 1.6em;
  line-height: 1.4;
  outline: none;
}

.format-toolbar {
  display: flex;
  position: relative;
  padding: 1px 18px 17px;
  margin: 0px -20px 20px;
  border-bottom: 2px solid rgb(238, 238, 238);
}

.format-toolbar button {
  background-color: transparent;
  padding: 3px 6px;
  border: none;
  color: #4e4e4e;
  margin-right: 3px;
  border-radius: 3px;
  font-size: 1rem;
}

.format-toolbar button:hover {
  cursor: pointer;
  background-color: #eae8e8;
}

.rich-text-editor-container {
  display: inline-block;
  max-width: calc(50% - 20px);
  margin: 20px 10px;
  padding: 20px;
  background: white;
}

.icon {
  font-size: 20px;
  line-height: 20px;
}

svg.icon {
  fill: #ddd;
}

.format-toolbar button:hover > svg.icon {
  fill: #222;
}

input[type="range"] {
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 50rem;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 3px 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #89B84C;
  border-radius: 50rem;
  height: 0.7em;
  width: 0.7em;
}